* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  column-gap: 30px;
}

.box {
  width: 300px;
  background-color: #EEEEEE;
  padding: 10px;
  position: relative;
}

.tag {
  background-color: #FF9A4B;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}

.image {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.step1-image {
  background-image: url("img/flow01.png");
}

.step2-image {
  background-image: url("img/flow02.png");
}

.step3-image {
  background-image: url("img/flow03.png");
}

.title {
  margin: 15px 0 5px 0;
}

footer {
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width:768px) {
  main {
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
  }

  .box {
    width: 90%;
    margin: 0 auto;
  }

  .image {
    width: 100%;
    background-size: cover;
  }
}